@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Manrope", sans-serif;
font-family: "Raleway", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Montserrat", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RootLayout Section-- */
.root-layout-container {
  display: flex;
  height: 100vh;
  background-color: #050505;
}

.sidebar {
  width: 20%;
  background-color: #050505;
  color: #fff;
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #464545;
}

@keyframes panGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.main-content {
  width: 80%;
  padding: 5rem 2rem;
  overflow-y: auto;

  background-color: #050505;

  background-image: linear-gradient(
      transparent 0%,
      transparent 95%,
      hsla(0, 0%, 100%, 0.08) 95%,
      hsla(0, 0%, 100%, 0.08) 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 95%,
      hsla(0, 0%, 100%, 0.08) 95%,
      hsla(0, 0%, 100%, 0.08) 100%
    );

  background-size: 20px 20px;
  background-repeat: repeat;
  animation: panGrid 15s linear infinite;
}

/* HOMEPAGE SECTION--- */

.homepage-main-container span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #e6e6e6;
  margin-bottom: 4rem;
}

#hp-mainContainer-span-id {
  width: 45rem;
}

.homepage-main-container span > h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.homepage-main-container span > h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
}

.homepage-nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.homepage-nav-btn button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}

.homepage-nav-btn h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #e6e6e6;
}

.latest-dispatch-container {
  font-family: "Montserrat", serif;
  margin: 2rem 0 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 25px;
}

.dispatch-image-container {
  cursor: pointer;
  position: relative;
  width: 285px;
  object-fit: contain;
}

.dispatch-image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.dispatch-overlay-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  left: 6px;
  right: 6px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.dispatch-overlay-text p {
  display: flex;
  align-items: center;
  gap: 10px;
}

#homepage-proj-type {
  color: #4de6a6;
}

/* BLOGPAGE SECTION--- */

.blogpage-main-container {
  color: #e6e6e6;
  margin-bottom: 6rem;
}

.blogpage-main-container h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 6rem;
}

/* CONNECTION NOTE-- */
.connectionNote-parent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.connectionNote-parent div {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: #e6e6e6;
}

.connectionNote-parent p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #999999;
}

/* ABOUT PAGE---  */

.aboutpage-main-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.aboutpage-headers-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.aboutpage-headers-holder h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
}

.aboutpage-headers-holder h2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
}

.aboutpage-headers-holder h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

.aboutpage-main-container div {
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aboutpage-note p {
  line-height: 26px;
  font-size: 16px;
  font-weight: 300;
}

.pagebreak {
  border: 1px solid #464545;
}

.aboutpage-main-container span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aboutpage-main-container span p {
  font-size: 16px;
  font-weight: 200;
  color: #999999;
}

.aboutpage-detailParent {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  margin-bottom: 3rem;
}

.aboutpage-detailParent h3 {
  font-weight: 400;
  font-size: 25px;
  color: #e6e6e6;
}

#aboutpage-detailHolder {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#aboutpage-detailHolder h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

#aboutpage-detailHolder p {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  color: #999999;

  margin-left: 1.7rem;
}

/* STACKPAGE SECTION---- */

.stackpage-main-container {
  font-family: "Raleway", sans-serif;
}

.stackpage-main-container h3 {
  font-weight: 400;
  font-size: 25px;
  color: #e6e6e6;
  margin-bottom: 6rem;
}

.each-tech-kit {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  height: 14rem;
  margin-bottom: 1.5rem;
}

.hp-tech-kit-Parent {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 6rem;
}

.hp-each-tech-kit {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #1a1a1a;
  width: 320px;
  width: 100%;
  height: 7rem;
  padding: 1rem 0.5rem;
  border-radius: 10px;
}

.hp-each-tech-kit span img {
  margin-top: 10px;
  width: 50px;
  height: auto;
}

.each-tech-kit span img {
  width: 50px;
  height: 50px;
  margin-top: 8px;
}

.stack-image {
  width: 100%;
  object-fit: contain;
  border-radius: 7%;
}

.each-tech-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.each-tech-info span h3 {
  color: #e6e6e6;
  font-size: 22px;
}

.each-tech-info p {
  color: #999999;
  font-weight: 200;
  font-size: 17px;
}

#stack-title {
  margin-bottom: 0;
}

#stack-fs-id {
  font-size: 15px;
}

/* PROJECT SECTION--- */

.projects-main-container {
  font-family: "Raleway", sans-serif;
}

.projects-main-container h2 {
  font-weight: 400;
  font-size: 25px;
  color: #e6e6e6;
  margin-bottom: 6rem;
}
.projects-parent {
  font-family: "Raleway", sans-serif;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-bottom: 4rem;
}

.project-holder {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.project-image-holder {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  /* height: auto; */
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out;
}

.project-image-holder:hover {
  transform: scale(0.9);
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.project-image:hover {
  transform: scale(0.9);
}

.project-info-parent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-holder-link h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4de6a6;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

.project-info-parent h4 {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.project-info-parent h5 {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
}

.git-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #999999;
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
}

.project-info-parent h3 {
  color: #e6e6e6;
  font-size: 21px;
  font-weight: 500;
}

.project-slider-container {
  width: 100%;
  height: 100%;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Customizing dots */
.slick-dots {
  bottom: 10px;
  z-index: 1;
}

.slick-dots li button:before {
  color: #fff;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

/* Make sure slider takes full height of container */
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  height: 100%;
}

/* Animation for transition */
.slick-slide {
  transition: opacity 0.3s ease;
}

.project-holder-link {
  text-decoration: none;
}

/* CONTACT SECTION--- */

.contact-main-container {
  font-family: "Raleway", sans-serif;
}

.contact-main-container h2 {
  font-weight: 400;
  font-size: 25px;
  color: #e6e6e6;
  margin-bottom: 3.5rem;
}

.contactInfo-flex {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.contactLinks-parent {
  width: 30%;
}

.contact-header {
  color: #e6e6e6;
  font-weight: 400;
  font-size: 25px;
  margin: 2rem 0;
}

.contactLinks-parent p {
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 17px;
  color: #999999;
  margin-bottom: 15px;
}

#contact-fsz-id {
  font-weight: 200;
}

.form-container {
  width: 70%;
}

.form-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.name-email-flexHolder {
  display: flex;
  gap: 10px;
  width: 100%;
}

.infoInput-holder input {
  background-color: #1a1a1a;
  color: #999999;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  height: 7vh;
  width: 282px;
}

.infoInput-holder textarea {
  background-color: #1a1a1a;
  color: #999999;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 36rem;
  height: 250px;
}
.infoInput-holder input::placeholder,
.infoInput-holder textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.form-holder button {
  cursor: pointer;
  width: 36rem;
  padding: 10px 0;
  border: none;
  background-color: #4de6a6;
  color: #050505;
  border-radius: 8px;
}

.alert-ui {
  width: 36rem;
}

/* LICENSING SECTION--- */

.licensing-mainContainer {
  font-family: "Raleway", sans-serif;
}

.licensing-mainContainer h2 {
  font-weight: 400;
  font-size: 25px;
  color: #e6e6e6;
  margin-bottom: 6rem;
}

.licensing-mainContainer div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.licensing-mainContainer h3 {
  color: #e6e6e6;
  font-weight: 300;
  font-size: 18px;
}

.licensing-mainContainer p {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #999999;
  font-weight: 200;
  font-size: 15px;
}

/* ERROR PAGE SECTION -- */

.error-page-main {
  font-family: "Raleway", sans-serif;
  background-color: #050505;
  height: 100vh;
  color: #e6e6e6;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: start;
}

.errorPage-btn {
  cursor: pointer;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
  color: #050505;
  font-size: 15px;
  font-weight: 400;
}

/* Media Queries---  */

@media screen and (max-width: 1150px) {
  .main-content {
    padding: 3rem 2rem 5rem 2rem;
    width: 100%;
    height: 100vh;
  }
  .root-layout-container {
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    padding: 1.5rem 2rem;
    justify-content: space-between;
  }

  .latest-dispatch-container {
    display: flex;
    flex-direction: column;
  }
  .dispatch-image-container {
    width: 100%;
    height: 40vh;
  }
  .dispatch-image-container img {
    height: 100%;
  }
  .connectionNote-parent div {
    font-size: 25px;
  }
  .connectionNote-parent p {
    font-size: 12px;
  }
  .projects-parent {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .project-holder aside {
    width: 100%;
  }

  .project-image {
    width: 100%;
    height: 100%;
  }
  .contactInfo-flex {
    flex-direction: column;
  }
  .contactLinks-parent {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .infoInput-holder input {
    width: 100%;
  }

  .infoInput-holder textarea {
    width: 100%;
  }
  .form-holder {
    width: 36rem;
  }
  .form-holder button {
    width: 100%;
  }
  .name-email-flexHolder {
    flex-direction: column;
  }

  .hp-tech-kit-Parent {
    flex-direction: column;
  }

  .hp-each-tech-kit {
    width: 350px;
    justify-content: start;
    padding: 1rem;
  }
}

@media screen and (max-width: 850px) {
  #hp-mainContainer-span-id {
    width: 100%;
  }
  .each-tech-kit {
    height: max-content;
  }
}

@media screen and (max-width: 650px) {
  .homepage-main-container span > h4 {
    font-size: 28px;
  }
  .aboutpage-headers-holder h2 {
    font-weight: 700;
    font-size: 25px;
  }
  .form-holder {
    width: 100%;
  }
  .alert-ui {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .sidebar {
    padding: 1.5rem 1rem;
  }
  .main-content {
    padding: 3rem 1rem 5rem 1rem;
  }

  .each-tech-kit {
    padding: 2rem 1.5rem;
    gap: 1.5rem;
  }
}
